settings:
  title: 'ACE - Bot Status'
  url: 'https://status.ace-ml.workers.dev' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 30 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: ace-1 # unique identifier
    name: ğ—”ğ—°ğ—² âŠ
    description: 'You write code. They handle the rest.' # default=empty
    url: 'https://ace-1.onrender.com/' # URL to fetch
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: false # allows the title to be a link, default=true

  - id: ace-2
    name: ğ—”ğ—°ğ—² â‹
    description: 'Built for anything connected to the Internet.'
    url: 'https://ace-2-1bem.onrender.com/'
    method: GET
    expectStatus: 200
    linkable: false # allows the title to be a link, default=true

  - id: ace-3
    name: ğ—”ğ—°ğ—² âŒ
    url: 'https://ace-3-d64g.onrender.com/'
    method: GET
    expectStatus: 200
    linkable: false # allows the title to be a link, default=true

  - id: ace-4
    name: ğ—”ğ—°ğ—² â
    url: 'https://ace-4.onrender.com/'
    method: GET
    expectStatus: 200
    linkable: false # allows the title to be a link, default=true
